CONFIG_ESP32C2_REV_MIN_1=y

# Workaround for https://github.com/espressif/esp-idf/issues/14456
CONFIG_ESP_SYSTEM_HW_STACK_GUARD=n


CONFIG_XTAL_FREQ_AUTO=n
CONFIG_XTAL_FREQ_26=y
CONFIG_XTAL_FREQ=26
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="2MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_60M=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-2MiB.csv"

CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_0=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_ROM_SERIAL_PORT_NUM=0
CONFIG_ESP_CONSOLE_UART_TX_GPIO=20
CONFIG_ESP_CONSOLE_UART_RX_GPIO=19
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_MONITOR_BAUD=115200

# CONFIG_COMPILER_SAVE_RESTORE_LIBCALLS=y
# CONFIG_BT_ENABLED=y
# CONFIG_BT_NIMBLE_ENABLED=y
# CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
# CONFIG_BT_NIMBLE_NVS_PERSIST=y
# CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=20
# CONFIG_BT_NIMBLE_TRANSPORT_EVT_SIZE=70
# CONFIG_BT_NIMBLE_EXT_ADV=y
# CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
# CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=4
# CONFIG_NEWLIB_NANO_FORMAT=y
